name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-secure:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # This finds the exact path to your Dockerfile automatically
      - name: Build Docker Image
        run: |
          DOCKERFILE_PATH=$(find . -name "Dockerfile" | head -n 1)
          CONTEXT_DIR=$(dirname "$DOCKERFILE_PATH")
          echo "Found Dockerfile at: $DOCKERFILE_PATH"
          echo "Using Context Directory: $CONTEXT_DIR"
          docker build -t my-secure-app:${{ github.sha }} -f "$DOCKERFILE_PATH" "$CONTEXT_DIR"

      - name: Run Trivy Security Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'my-secure-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
